<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-gray-800 font-inter">
  <div class="fixed left-0 top-0 w-64 h-full bg-blue-300 p-4">
    <div class="flex items-center">
        <img src="https://hcmut.edu.vn/img/nhanDienThuongHieu/01_logobachkhoasang.png" alt="" class="w-10 h-10 rounded object-cover">
        <span></span>
    </div>
  </div>
</body>
</html>